# Create database

In [1]:
pip install sqlalchemy_utils

Collecting sqlalchemy_utils
  Obtaining dependency information for sqlalchemy_utils from https://files.pythonhosted.org/packages/d5/f0/dc4757b83ac1ab853cf222df8535ed73973e0c203d983982ba7b8bc60508/SQLAlchemy_Utils-0.41.2-py3-none-any.whl.metadata
  Downloading SQLAlchemy_Utils-0.41.2-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: SQLAlchemy>=1.3 in /home/tousside/anaconda3/lib/python3.11/site-packages (from sqlalchemy_utils) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /home/tousside/anaconda3/lib/python3.11/site-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (2.0.1)
Downloading SQLAlchemy_Utils-0.41.2-py3-none-any.whl (93 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.1/93.1 kB 518.7 kB/s eta 0:00:00a 0:00:01
Installing collected packages: sqlalchemy_utils
Successfully installed sqlalchemy_utils-0.41.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [2]:
database_uri="postgresql://postgres:Tousside179316@localhost:5432/global_news"

In [3]:
engine= create_engine(database_uri)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [4]:
# import modeule
import psycopg2
from psycopg2 import sql

In [5]:
connection_params={
    "user" :"postgres",
    "password":"Tousside179316",
    "host":'localhost',
    "port": 5432
}

In [6]:
dbname= "global_news"
sql_file_path= './GlobalNews.sql'

In [7]:
connection= psycopg2.connect(**connection_params)
connection.autocommit =True

In [11]:
with connection.cursor() as cursor:
    with open(sql_file_path, "r") as file:
        sql_file_content=file.read()
        cursor.execute(sql_file_content)

DuplicateTable: relation "domains_location" already exists

Add data

In [8]:
import pandas as pd

In [9]:
news_data = pd.read_csv("data.csv.zip")

In [10]:
news_data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral
1,81667,NaN,CNA,NaN,nice claim top spot in ligue 1 with late win a...,Nice moved into provisional first place in the...,https://www.channelnewsasia.com/sport/nice-cla...,https://onecms-res.cloudinary.com/image/upload...,2023-10-27 21:28:48.000000,Nice moved into provisional first place in the...,Monaco,nice moved into provisional first place in the...,Positive
2,81694,time,Time,Christina Larson / AP,amphibians are the world’s most vulnerable spe...,"The world’s frogs, salamanders, newts, and oth...",https://time.com/6320467/amphibians-most-vulne...,https://api.time.com/wp-content/uploads/2023/1...,2023-10-04 17:36:18.000000,"The worlds frogs, salamanders, newts and other...",Madagascar,"the world’s frogs, salamanders, newts and othe...",Negative
3,81695,NaN,Phys.Org,Sara Schmidt,image: rusty red waters in madagascar,Iron-rich sediment colors the red-orange water...,https://phys.org/news/2023-10-image-rusty-red-...,https://scx2.b-cdn.net/gfx/news/2023/image-rus...,2023-10-31 18:04:02.000000,Iron-rich sediment colors the red-orange water...,Madagascar,iron-rich sediment colors the red-orange water...,Neutral
4,81703,NaN,Digital Trends,Jason Struss,everything leaving max (formerly hbo max) in n...,From Gangs of London to Fear the Walking Dead ...,https://www.digitaltrends.com/movies/everythin...,https://www.digitaltrends.com/wp-content/uploa...,2023-10-23 23:09:18.000000,"Everything ends. No, I’m not having an existen...",Madagascar,"everything ends. no, i’m not having an existen...",Neutral

# Select ML features

## articles data

In [11]:
news_data_select= news_data[["article_id", "source_name", "title", "article", "published_at"]]

In [12]:
news_data_select.head()

,article_id,source_name,title,article,published_at
0,81664,Forbes,superstar chef yannick alléno brings refined f...,"pavyllon london, at four seasons hotel london ...",2023-11-01 03:27:21.000000
1,81667,CNA,nice claim top spot in ligue 1 with late win a...,nice moved into provisional first place in the...,2023-10-27 21:28:48.000000
2,81694,Time,amphibians are the world’s most vulnerable spe...,"the world’s frogs, salamanders, newts and othe...",2023-10-04 17:36:18.000000
3,81695,Phys.Org,image: rusty red waters in madagascar,iron-rich sediment colors the red-orange water...,2023-10-31 18:04:02.000000
4,81703,Digital Trends,everything leaving max (formerly hbo max) in n...,"everything ends. no, i’m not having an existen...",2023-10-23 23:09:18.000000

In [13]:
news_data_select.columns=["article_id", "source_name", "title","content","published_at"]

In [14]:
engine= create_engine("postgresql+psycopg2://postgres:Tousside179316@localhost:5432/global_news")

In [15]:
news_data_select.to_sql('articles', engine, if_exists='replace', index=False)

356

Domain Location Data

In [16]:
domains_location=pd.read_csv("domains_location.csv")

In [17]:
domains_location.to_sql('domains_location', engine, if_exists='replace', index=False)

802

## Traffic data

In [18]:
traffic_data=pd.read_csv("traffic_data/traffic.csv")

In [19]:


traffic_data_selected= traffic_data[["Domain","GlobalRank"]]

traffic_data_selected.to_sql('traffic', engine, if_exists='replace', index=False)

1000